.table thead th{
    text-align: center !important;
    vertical-align: top !important;
}
th, td{
    font-size: 12px !important;
}
.edit-user-section {
    .card {
        border: 2px solid black;
        border-radius: 12px;
        .card-body {
            
                .fields {
                  border-right: 1px solid #dee2e6;
                  height: 51px;
                  margin-top: 1px;
                  padding: 0px 26px;
                  margin: 9px 0px;

                  label {
                      color: black;
                      font-size: 14px;
                      font-weight: 500;
                      margin-bottom: 0px;
                  }
                  input {
                      border: 1px solid #fff;
                      // border: none;
                      // border-bottom: 1px solid #ccc;
                      padding: 0px;
                      font-size: 15px;
                      
                      // border-radius: 4px;
                      // box-shadow: none !important;
                      // &:hover {
                      //     box-shadow: none !important;
                      // }
                  }
                  p{
                      font-size: 12px;
                  }
                }
                .borderrightnone{
                  border-right: none;
              }
            
        }
    }
}

.buttons{
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.view{
    cursor: pointer;
}
.notapproved{
    color: red;
}
.approved{
    color: green;
}
.image{
    border-radius: 27px;
    width: 53px;
}
.approvebutton{
    background-color: green;
    color: white;
}

@media(max-width: 480px){
.peronalinfo{
    position: absolute;
    top: 96px;
}
.personalmargin{
    margin-top: 70px;
}

}


/* ============client list styles =========== */

.list {
    padding: 20px;
    text-align: center;
}