/* You can add global styles to this file, and also import other style files */


.sidebar-hold {
    padding-top: 100px !important;
}

.branding {
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0 16px;
    width: 15rem;
    height: 160px !important;
    line-height: 64px;
    top: 0;
    left: 0;
    z-index: 999;
    color: #444;
    background: #ffffff;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    overflow: hidden;
}

.sidebar-slate .navigation-hold .branding {
    background: #fff;
}

.sidebar-panel .navigation-hold {
    background: #e1007a !important;
}

.sidebar-slate .navigation-hold .branding {
    background: #fff !important;
}

/* .topbar-white .topbar.mat-toolbar {
    background: #e1007a !important;
    color: rgba(0, 0, 0, 0.87) !important;
} */